:root {
  --bg-main: #1e3932;
  --bg-main-secon: #008248;
  --bg-black: #000000;
  --bg-white-light: #f3f1e7;
  --bg-green-light: #d4e9e2;
  --bg-white: #f1f8f6;
  --ff-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: var(--ff-main);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.active {
  border-bottom: 4px solid var(--bg-main-secon);
}

.btn {
  border: none;
  cursor: pointer;
}

.bg-main {
  background-color: var(--bg-main);
  color: #fff;
}

.color-main {
  color: var(--bg-main);
}

.bg-main-secon {
  background-color: var(--bg-main-secon);
  color: #fff;
}

.color-main-secon {
  color: var(--bg-main-secon);
}

.bg-white-light {
  background-color: var(--bg-white-light);
}

.bg-green-light {
  background-color: var(--bg-green-light);
}

/* containers */
.container {
  overflow: hidden;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
}

/* navbar */
.nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.links {
  display: flex;
  align-items: center;
}

li a {
  color: rgba(0,0,0,0.8);
  padding: 10px;
}

.menu ul.links > li a {
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

.menu ul.links > li a:hover {
  color: var(--bg-main-secon);
}

li a i {
  margin: 0 5px;
  font-size: 1.3rem;
}

a:focus {
  border-radius: 30px;
  outline: none;
}

.list-item {
  position: relative;
  margin: 0 8px;
}

/* menu */
.img-nav-logo {
  width: 50px;
}

/* community */
.community ul.links > li a {
  font-size: 0.8rem;
}

.community ul.links li:first-child a:hover {
  color: var(--bg-main-secon);
}

.link-signin,
.link-join {
  border: 1px solid #111;
  border-radius: 20px;
  padding: 10px 20px;
  transition: all .2s ease-in-out;
}

.link-signin:hover {
  background-color: rgba(0,0,0,0.1);
}

.link-join:hover {
  background-color: rgba(0,0,0,0.8);
}

.link-join {
  color: #fff;
  background-color: var(--bg-black);
}

.sub-nav {
  padding: 10px 20px;
}

.sub-nav h3 {
  text-transform: uppercase;
}

/* welcome */
.welcome {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 120px;
}

.description,
.brand {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0,0,0,0.9);
}

.description h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.description > p {
  margin: 20px 0;
  font-size: 1rem;
}

.btn-join-now {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  width: 100px;
}

.link-join-app,
.link-star {
  text-decoration: underline;
}

.link-join-app:hover,
.link-star:hover {
  text-decoration: none;
}

.link-join-app {
  color: rgba(0,0,0,1);
}

.link-star {
  color: var(--bg-main-secon);
}

.brand {
  margin: 0 auto;
  overflow: hidden;
  background-image: url(../img/star.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

/* main */
.main {
  text-align: center;
  min-height: 400px;
}

.start {
  margin: 60px auto 20px auto;
  color: rgba(0,0,0,0.8);
}

.start h2, .start p {
  margin: 20px auto;
}

.steps {
  display: flex;
  justify-content: space-between;
}

.step {
  padding: 30px;
  color: rgba(0,0,0,0.8);
}

.num {
  border: 1px solid var(--bg-main-secon);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num > p {
  color: var(--bg-main-secon);
  font-size: 1.5rem;
  font-weight: bold;
}

.info > h4 {
  margin: 20px auto;
}

.explanation > p {
  font-size: 0.9rem;
  color: rgba(0,0,0,0.8);
}

/* media queries */
@media only screen and (min-width: 992px) {
  .welcome {
    height: 90vh;
  }
}
