:root {
  --bg-main: #1e3932;
  --bg-main-secon: #008248;
  --bg-black: #000000;
  --bg-green-light: #d4e9e2;
  --bg-white-light: #f1f8f6;
  --bg-white-light-secon: #f3f1e7;
  --ff-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: var(--ff-main);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
}

button, .btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

h2, h3, h4, p {
  color: rgba(0,0,0,0.8);
}

.active {
  border-bottom: 4px solid var(--bg-main-secon);
}

.bg-main {
  background-color: var(--bg-main);
}

.color-main {
  color: var(--bg-main);
}

.color-white {
  color: var(--bg-white-light);
}

.color-white-secon {
  color: var(--bg-white-light-secon);
}

.bg-main-secon {
  background-color: var(--bg-main-secon);
  color: #fff;
}

.color-main-secon {
  color: var(--bg-main-secon);
}

.bg-white-light {
  background-color: var(--bg-white-light);
}

.bg-white-light-secon {
  background-color: var(--bg-white-light-secon);
}

.bg-green-light {
  background-color: var(--bg-green-light);
}

/* containers */
.container {
  overflow: hidden;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
}

/* navbar */
.nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.links {
  display: flex;
  align-items: center;
}

li a {
  color: rgba(0,0,0,0.8);
  padding: 10px;
}

.menu ul.links > li a {
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

.menu ul.links > li a:hover {
  color: var(--bg-main-secon);
}

li a i {
  margin: 0 5px;
  font-size: 1.3rem;
}

a:focus {
  border-radius: 30px;
  outline: none;
}

.list-item {
  position: relative;
  margin: 0 8px;
}

/* menu */
.img-nav-logo {
  width: 50px;
}

/* community */
.community ul.links > li a {
  font-size: 0.8rem;
}

.community ul.links li:first-child a:hover {
  color: var(--bg-main-secon);
}

.link-signin,
.link-join {
  border: 1px solid #111;
  border-radius: 20px;
  padding: 10px 20px;
  transition: all .2s ease-in-out;
}

.link-signin:hover {
  background-color: rgba(0,0,0,0.1);
}

.link-join:hover {
  background-color: rgba(0,0,0,0.8);
}

.link-join {
  color: #fff;
  background-color: var(--bg-black);
}

.sub-nav {
  padding: 10px 20px;
}

.sub-nav h3 {
  text-transform: uppercase;
  color: var(--bg-white-light);
}

/* welcome */
.welcome {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 120px;
}

.welcome-description,
.welcome-brand {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.welcome-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0,0,0,0.9);
}

.welcome-description h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.welcome-description > p {
  margin: 20px 0;
  font-size: 1rem;
}

.btn-join-now {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  width: 100px;
}

.link-join-app,
.link-star {
  text-decoration: underline;
}

.link-join-app:hover,
.link-star:hover {
  text-decoration: none;
}

.link-join-app {
  color: rgba(0,0,0,1);
}

.link-star {
  color: var(--bg-main-secon);
}

.welcome-brand {
  margin: 0 auto;
  overflow: hidden;
  background-image: url(../img/star.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

/* main */
.main {
  text-align: center;
  min-height: 400px;
}

/* start */
.start {
  margin: 60px auto 20px auto;
  color: rgba(0,0,0,0.8);
}

.start h2, .start p {
  margin: 20px auto;
}

/* steps */
.steps {
  display: flex;
  justify-content: space-between;
}

.step {
  padding: 30px;
  color: rgba(0,0,0,0.8);
}

.num {
  border: 1px solid var(--bg-main-secon);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num > p {
  color: var(--bg-main-secon);
  font-size: 1.5rem;
  font-weight: bold;
}

.info > h4 {
  margin: 20px auto;
}

.step-explanation > p {
  font-size: 0.9rem;
  color: rgba(0,0,0,0.8);
}

/* favorites*/
.favorites,
.extras {
  padding: 50px 10px 0 10px;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0 ;
}

.point {
  padding: 10px;
  margin: 0 30px;
}

.point > button {
  padding-bottom: 10px;
}

.point p {
  font-size: 1.4rem;
  font-weight: 600;
}

.point i {
  color: #cba258;
  font-size: 0.7rem;
}

/* products */
.products {
  padding: 50px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.product-sample, 
.product-description {
  width: 50%;
}

.product-sample {
  height: 150px;
}

.product-sample .img-product {
  height: 100%;
  object-fit: contain;
}

.product-description {
  text-align: left;
  padding: 0 150px 0 0;
}

.product-description h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* extras */
.extras-info {
  margin: 50px auto;
  width: 800px;
}

.extras-info > h2 {
  margin: 20px auto;
}

.extra-items {
  display: flex;
  justify-content: space-around;
}

.extra-item {
  padding: 20px;
  width: 400px;
}

.extra-header {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.extra-body {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.extra-body h3,
.extra-body p {
  margin: 10px 0;
}

/* payments */
.payments {
  padding: 50px 0;
}

/* payments info*/
.payments-info {
  margin: 50px auto;
  width: 800px;
}

.payments-info h3,
.payments-info p {
  margin: 10px 0;
}

/* payment steps*/
.payment-steps {
  display: flex;
  justify-content: flex-start;
  margin: 50px auto;
  padding: 20px 30px;
}

.payment-step {
  text-align: left;
}

.payment-reward {
  width: 300px;
  padding: 20px 0;
}

.payment-reward i {
  font-size: 0.8rem;
}

.payment-reward h3 {
  font-size: 1.3rem;
}

.payment-reward p {
  font-size: 0.9rem;
  margin: 10px auto;
}

.payment-description {
  display: flex;
  width: 400px;
}

.informative-img {
  width: 30%;
  margin: 0 20px 0 0;
}

.payment-step-explanation {
  width: 70%;
}

.payment-step-explanation h3,
.payment-step-explanation p {
  margin: 20px auto;
}

/* media queries */
@media only screen and (min-width: 992px) {
  .welcome {
    height: 90vh;
  }
}
