/* welcome */
.welcome {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 120px;
  background-image: url(../img/xl-hero-desktop_2021.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-description,
.welcome-brand {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.welcome-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0,0,0,0.9);
}

.welcome-description h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.welcome-description > p {
  margin: 20px 0;
  font-size: 1rem;
}

.btn-join-now {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  width: 100px;
}

.link-join-app,
.link-star {
  text-decoration: underline;
}

.link-join-app:hover,
.link-star:hover {
  text-decoration: none;
}

.link-join-app {
  color: rgba(0,0,0,1);
}

.link-star {
  color: var(--color-main-secondary);
}
