/* favorites*/
.favorites {
  padding: 50px 10px 0 10px;
  text-align: center;
}

.favorites h2 {
  padding-bottom: 20px;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.point {
  padding: 10px;
  margin: 0 20px;
}

.point > button {
  padding-bottom: 10px;
}

.point p {
  font-size: 1.4rem;
  font-weight: 600;
}

.point i {
  color: var(--color-star);
  font-size: 0.7rem;
}
